<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>HOME</title>
	</head>
	<body>
		<h1>HOME PAGE</h1>
		<p>Welcome to the home page!</p>

		<!-- display dynamic content -->
		<%=name%> <%=2+2%>

		<!-- conditional statements -->
		<% if (userId === 20){ %>
		<p>User Id: <%=userId%></p>
		<%} else if (userId === 30){%>
		<p>User Id: <%=userId%></p>
		<%} else{%>
		<p>Nothing...</p>
		<%}%>

		<!-- for loop -->
		<%for(let i = 1; i<=5;i++){%>
		<p><%=i%></p>
		<%}%>
		<br />

		<!-- for in loop -->
		<%const data = [1,2,3,4,5]%> <%for (item in data){%>
		<p><%=data[item]%></p>
		<%}%>

		<!-- using modules -->
		<%let current = new Date();%> <%=current%>
	</body>
</html>
